body{padding-top:50px;
	margin: 0;
	font-family: 'Open Sans', Sans-serif;
}

nav {
	background: #fc7f01;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
nav > a{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 26px;
	font-weight: 700;
	font-align:left;
	text-decoration: none;
	position: absolute;
	left: 25px;
	top: 10px;
}

nav > span{
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	text-align: left; 
}
nav > ul{
	position: absolute;
	right: 25px;
	top: 5px;
}
nav > ul > li{
	display: inline-block;
	padding: 0 15px;
}
nav > ul > li> a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;}
.search {
	border-color: transparent;
	top: 5px;
	right: 10px;
	display: inline-block;
	padding-left: 80%;
}

.img{
	color: #fff;
	width: 200px;
	height: 325px;
	display: inline-block;
	position: fixed;

}
h1{

	width:30%;
	float: right;
	height: 465px;
}
footer {
	background-color: #7ACCC8;
	height: 10%;
	padding: 10px;
	margin-top: 5%;
}