body{padding-top:50px;
	margin: 0;
	font-family: 'Open Sans', Sans-serif;
	background-color: #f2f2f2;
}
/*title*/
.title {
	color: #ffffff;
	font-family: 'lato';
	font-weight: bold;
}
.juice{
	color: #ffffff;
	font-family: 'lato';
	font-weight: lighter;
}
/*navigtion*/
nav {
	background: #fc7f01;
	height: 10%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
nav > a{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 26px;
	font-weight: 700;
	font-align:left;
	text-decoration: none;
	position: absolute;
	left: 25px;
	top: 10px;
}

nav > span{
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	text-align: left; 
}
nav > ul{
	position: absolute;
	right: 25px;
	top: 5px;
}
nav > ul > li{
	display: inline-block;
	padding: 0 15px;
}
nav > ul > li> a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;}
.search {
	border-color: #ffffff;
	top: 10%;
	left:  100%;
	padding-left: 90%;
}

img{
	color: #fff;
	width: 100%;
}

.wrapper1{
	display: inline-block;
	width: 40%;
}
.wrapper2{
	display: inline-block;
	width: 30%;
	height: 465px;
}
.orange{
	color:#FC7F01 ;
}

.buttons{
	color: #FC7F01;
	border:none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	
}
h1{
	width:60%;
	color: #fc7f01;
	font-weight: lighter;
}
span{
	color:#7ACCC8;
	font-weight: bold; 
}
/*footer*/
footer {
	background-color:#7ACCC8  ;
	height: 20%;
	padding: 10px;
	margin-top: 5%;
}
.socialicons{
	float: right;
}